*{
margin: 0;
padding: 0;
box-sizing: border-box;
border: none;
outline: none;
text-decoration: none;
scroll-behavior: smooth;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
--bg-color: #b4b45b; 
--snd-bg-color:#8f8f5a;
--text-color:#327729;
--main-color:#000000;
}
html{
font-size: 62.5%;
overflow-x: hidden;
}
body{
background :var(--bg-color);
color: var(--text-color);

}
section{
    min-height:100vh;
    padding: 10rem 9% 2rem ;
}
.header{
  
    position: fixed;
width: 105%;
top: 0;
right: 0;
z-index: 1000;
display: flex;
align-items: center;
justify-content: space-between;
padding: 2rem 5%;
background:var(--main-color) ;
backdrop-filter: blur(18px);
transition: all 0.5s ease;
}
 .logo{
font-size: 3rem;
color: var(--bg-color);
font-weight: 700;
cursor: pointer;
transition:0.3s ease ;
 }
.logo:hover {
transform: scale(1.05);
 }
 .navbar a{
font-size: 1.9rem;
color: var(--bg-color);
margin-left: 4rem;
font-weight: 700;
transition: 0.3s ease;
 }
  .navbar a:hover, .navbar .active{
color: var(--text-color);
  }
  #menu-icon{
    font-size: 3.6rem;
color: var(--bg-color);
cursor: pointer;
display: none;
  }
  .home {
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .home-img img{
    grid-template: auto;
width: 100%;
border-radius: 50%;
height: 400px;
box-shadow: 0 0 25px var(--main-color);
cursor: pointer;
animation: floatIamge 4s ease-in-out infinite;
transition: 0.4s ease;
  }
  .home-img img:hover{
box-shadow: 0 0 25px var(--main-color) ,
0 0 34px var(--main-color),
0 0 45px var(--main-color);
  }
  
  @keyframes floatIamge {
    0% {
      transform: translateY(0);
    }
   50% {
transform: translateY(-2.4rem);
   } 
100%{ 
  transform: translateY(0);
}
  }
  .home-contact{
margin-left: 5rem;
  }
  .home-contact h3{

    font-size: 3.4rem;
    font-weight: 700;
  }
.home-contact h3:nth-of-type(2){
margin-bottom: 2rem;
}
span{
  color: var(--main-color);
}

.home-contact h1 {
  font-size:6rem ;
  font-weight: 700;
  line-height:1.3 ;
}
.home-contact p {
  font-size: 1.6rem;
}
.soical-media a{
display: inline-flex;
justify-content: center;
align-items: center;
width: 42px;
height: 42px;
background: transparent;
border: 0.2rem solid var(--main-color);
border-radius: 50%;
font-size: 2rem;
color: var(--main-color);
margin: 3rem 1.5rem 3rem 0;
transition: 0.3s ease;
}
.soical-media a:hover{
  transform: scale(1.2) translateY(-10px);
background-color: var(--snd-bg-color);
color: var(--bg-color);
box-shadow: 0 0 25px var(--main-color);
}
.shaka{
  display:inline-block;
padding: 1rem 2.5rem;
background: var(--main-color);
border-radius: 2rem;
box-shadow: none;
font-size: 1.6rem;
color: var(--text-color);
letter-spacing: 0.1rem;
font-weight: 600;
transition: 0;
}
.shaka:hover{
box-shadow: 0 0 1.6rem var(--bg-color);
 } 
 .about1{
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  background: var(--bg-color);
 }
.about1-img img{
width:25vw ;
border: 2px solid var(--main-color);
border-radius: 50%;
box-shadow: 0 0 25px var(--main-color);
cursor: pointer;
transition: 0.4s ease;
 }
.about1-img img:hover{
box-shadow: 0 0 25px var(--main-color) ,
0 0 34px var(--main-color),
0 0 45px var(--main-color);
}
.heading {
font-size: 6rem;
text-align: center;
}
.about1-content {
padding: 0 4rem;
}
.contan{
  border-color: #327729;
  border: 200px;
  color: #000000;
  width: 100%;
margin: 0;
padding: 0;
box-sizing: border-box;
}
.contan .row{
width: 80%;
margin: auto;
}
.contan .row .headerr{
width: 60%;
align-items: center;
margin: auto;
}
.lopa{
height: 300px;
width: 400px;
}
.card{
  width: 500px;
border: 1px solid #000000;
padding: 20px;
margin: 20px;
text-align: center;
cursor: pointer;
}

#simba{
  display: flex;
  align-items: center;
  justify-content: center;
padding-top: 40px;
font-size: 40px;
color: var(--main-color);
margin-right: 20%;

}
#limba{
font-size: 30px;
margin-top: 15px;
line-height: 1.5;
}
.contan{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
}
.sera{
width: 90%;
margin: auto;
}
.seco{
margin-top: 50px;
font-size: 40px;
text-align: center;
}
.sera-card{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.seras-card{
width: 500px;
border: 1px solid #0f0d0d;
padding: 20px;
margin: 20px;
text-align: center;
cursor: pointer;
}
.seras-card i {
font-size: 40px;
margin-bottom: 20px;
}
.serapp{
  font-size: 30px;
}
.serap{
  font-size: 20px;
}

.contact1{

  background: #181616;
  padding: 80px 0;

text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sab{
  color: rgb(184, 219, 219);
  min-width: 600px;
  margin: auto;
  padding: 0 20px;
}
.contact1 .shp{
  border-color: aqua;
  font-size: 20px;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing:4px ;
  font-weight: 400;
}
.nameo, .emaill, .message{
  align-items: center;
border: none;
  background:none;
  color: #fcecec;
  padding: 10px 6px;
border-color: aqua;
outline: none;
border-bottom: 1px solid;
color: #c99a9a;
padding: 0px 200px;
margin-bottom: 40px;
justify-items: auto;
}
.hi{
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
 .sera-card{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
flex-direction: column;
}
}
  